#blook{
            display: flex;
            background: ;
            justify-content: center;
        }
        #blook2{
            display: flex;
            background: ;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;          
        }
        #blook3{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: transparent;
            
            
                    
        }
        #blook4{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: transparent;
            
            
                    
        }
        #blook5{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: transparent;
            
            
                    
        }
        body{ 
            background: #1d7475;

        }


        
        #f{
            color: #badee6;
            background: #1d7475;
            transition: background 0.50s;
        }
    
         #f2{
            color: #badee6;
            margin-top: 20px;
            background: #1d7475;
            transition: background 0.50s;
        }
        #f3{
            color: #badee6;
            background: #1d7475;
            transition: background 0.50s;
            
        }
        #f3-1{
            width: 400px;
            height: 400px;
            background: #1d7475;
            background-image: url(schedule_calendar_date_time_plan_icon_192544.png);
            background-size: 399px;
            background-position-x: center;
            

        }
        #f3-2{
            font-size: xx-large;
            color: #badee6;
            text-align:center;
        }
        #f4{
            color: #badee6;
            background: #1d7475;
            transition: background 0.50s;
            
            }
        #f4-1{
            width: 400px;
            height: 400px;
            background: #1d7475;
            background-image: url(ssss.svg);
            background-size: 399px;
            background-position-x: center;
            

}
        #f4-2{
            font-size: xx-large;
            color: #badee6;
            text-align:center;
}
#f5{
            color: #badee6;
            background: #1d7475;
            transition: background 0.50s;
            
}
#f5-1{
            width: 400px;
            height: 400px;
            background: #1d7475;
            background-image: url(ssss.svg);
            background-size: 399px;
            background-position-x: center;
            

}
        ::selection{
            background: #6d8787
            ;
        }
        #f:hover{
            background: #6d8787;
        }
        #f2:hover{
            background: #6d8787;
        }
        #f3:hover{
            background: #6d8787;

        }
        #f4:hover{
            background: #6d8787;

        }
        #f5:hover{
            background: #6d8787;

        }

@media screen and (max-width: 500px){
            #f3-1{
                 width: 200px;
                 height: 200px;
                 background-size: 200px;
            }
            #f4-1{
                 width: 200px;
                 height: 200px;
                 background-size: 200px;
            }
            #f5-1{
                 width: 200px;
                 height: 200px;
                 background-size: 200px;
            }
    

            
        }






